/* Need to change this. This page is just a mockup */

.ium-cta {
  background: cadetblue;
  height: 1000px;
}

.ium-about {
  background: green;
  height: 1000px;
}

.ium-contact {
  background: lime;
  height: 1000px;
}

.ium-products {
  background: tomato;
  height: 1000px;
}
