:root {
  font-size: calc(0.5em + 0.667vw);
  --header: Arial, sans-serif;
  --body: sans-serif;
}

@media only screen and (max-width: 600px) {
  :root {
    font-size: 12px;
  }
}

@media only screen and (min-width: 1200.01px) {
  :root {
    font-size: 18px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--header);
}

p {
  font-family: var(--body);
}

/* 
--- MEDIA QUERIES CHEAT SHEET ---

for-phone-only {
   @media only screen and (max-width: 600.00px) { //content; }
 }

for-tablet-up {
  @media only screen and (min-width: 600.01px) and (max-width: 1200.00px ) { //content; }
 }

 for-desktop-up {
  @media only screen and (min-width: 1200.01px) { //content; }
 }
 */
