@import url("https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600|Vollkorn:600");
/* FONTS IMPORTED FROM GOOGLE FONTS */

:root {
  /* APPLY REM + EM FOR MEASUREMENT UNITS */
  font-size: calc(0.5em + 0.667vw);
  /* DEFINE CSS VARIABLES */
  --font-family_header: "Vollkorn", serif;
  --font-family_body: "Source Serif Pro", serif;
}

@media only screen and (max-width: 600px) {
  :root {
    font-size: 12px;
  }
}

@media only screen and (min-width: 1200.01px) {
  :root {
    font-size: 18px;
  }
}

html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

html * {
  font-family: var(--font-family_body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family_header);
}

/* 
--- MEDIA QUERIES CHEAT SHEET ---

for-phone-only {
   @media only screen and (max-width: 600.00px) { //content; }
 }

for-tablet-up {
  @media only screen and (min-width: 600.01px) and (max-width: 1200.00px ) { //content; }
 }

 for-desktop-up {
  @media only screen and (min-width: 1200.01px) { //content; }
 }
 */
