.ium-header-nav {
  margin-left: auto;
  font-size: 1.3rem;
  display: none;
}

.ium-header-nav_off,
.ium-header-nav_on {
  position: absolute;
  z-index: 9999;
  bottom: -500px;
  height: 100%;
  background: white;
}

.ium-header-nav_off {
  display: none;
}

.ium-header-nav_on {
  display: block;
}

.ium-header-nav > ul {
  display: flex;
  justify-content: space-around;
}

.ium-header-nav > ul > a {
  text-decoration: none;
  color: inherit;
}

.ium-header-nav > ul > a > li {
  position: relative;
  cursor: pointer;
  padding: 0.2em 0;
  transition: all 0.3s ease-in-out;
  margin: 0 1em;
}

.ium-header-nav > ul > a > li:before,
.ium-header-nav > ul > a > li:after {
  content: "";
  position: absolute;
  transition: all 250ms ease-in-out;
  pointer-events: none;
}

.ium-header-nav > ul > a > li:after {
  width: 100%;
  height: 2px;
  background: var(--color_secondary);
  left: 0;
  bottom: -5px;
  transform: scale(0);
}

.ium-header-nav > ul > a > li:hover:after {
  transform: scale(1.1);
}

@media only screen and (min-width: 600.01px) and (max-width: 1200px) {
  .ium-header-nav > ul > a > li {
    font-size: 1.1em;
  }
}

/* HAMBURGER ICON */

.ium-header-hamburger {
  display: inline-block;
  padding: 0.5em;
  width: 2em;
  height: 2em;
  cursor: pointer;
}

@media only screen and (min-width: 600.01px) {
  .ium-header-hamburger {
    display: none;
  }

  .ium-header-nav {
    cursor: pointer;
    display: block;
  }
}

/* --- MEDIA QUERIES CHEAT SHEET ---

for-phone-only {
   @media only screen and (max-width: 600.00px) { //content; }
 }

for-tablet-up {
  @media only screen and (min-width: 600.01px) and (max-width: 1200.00px ) { //content; }
 }

 for-desktop-up {
  @media only screen and (min-width: 1200.01px) { //content; }
 } */
