.ium-header-nav {
  display: none;
  margin-left: auto;
  font-size: 1.2rem;
}

.ium-header-nav > ul {
  display: flex;
  justify-content: space-around;
}

.ium-header-nav > ul > li {
  position: relative;
  cursor: pointer;
  padding: 0.2em 0;
  transition: all 0.3s ease-in-out;
  margin: 0 1em;
}

.ium-header-nav > ul > li:before,
.ium-header-nav > ul > li:after {
  content: "";
  position: absolute;
  transition: all 250ms ease-in-out;
  pointer-events: none;
}

.ium-header-nav > ul > li:after {
  width: 100%;
  height: 2px;
  background: #f2b347;
  left: 0;
  bottom: -5px;
  transform: scale(0);
}

.ium-header-nav > ul > li:hover:after {
  transform: scale(1.1);
}

.ium-header-hamburger {
  display: inline-block;
  padding: 0.5em;
  cursor: pointer;
  color: #e9f3e1;
}

@media only screen and (min-width: 600.01px) {
  .ium-header-hamburger {
    display: none;
  }
  .ium-header-nav {
    cursor: pointer;
    display: block;
  }
}

/* --- MEDIA QUERIES CHEAT SHEET ---

for-phone-only {
   @media only screen and (max-width: 600.00px) { //content; }
 }

for-tablet-up {
  @media only screen and (min-width: 600.01px) and (max-width: 1200.00px ) { //content; }
 }

 for-desktop-up {
  @media only screen and (min-width: 1200.01px) { //content; }
 } */
