.ium-header-cart {
  margin-left: 0.4em;
  cursor: pointer;
  width: 1.2em;
  height: auto;
  transition: all 0.3s ease-in-out;
  fill: currentColor;
}

.ium-header-cart:hover {
  transform: scale(1.1);
}

.ium-header-cart path {
  stroke-width: 10;
}

/*
--- MEDIA QUERIES CHEAT SHEET ---

for-phone-only {
   @media only screen and (max-width: 600.00px) { //content; }
 }

for-tablet-up {
  @media only screen and (min-width: 600.01px) and (max-width: 1200.00px ) { //content; }
 }

 for-desktop-up {
  @media only screen and (min-width: 1200.01px) { //content; }
 }
 */
