.ium-header-logo {
  font-size: 1em;
  letter-spacing: -1.5px;
  background: purple;
}

.ium-header-logo a {
  font-size: 4em;
  font-family: var(--font-family_header);
  display: block;
  text-decoration: none;
}
